@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    padding: 0 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: #262729;
}
.title{
    font-size: 1.2rem;
    text-align: center;
    color: white;
    padding:10px;
}
.bd{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    line-height: 46px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: #fff;

}

.wrapper i:first-child {
    left: 1px;
    display: none;
}

.wrapper i:last-child {
    right: 1px;
}

.wrapper,
.carousel {
    font-size: 0px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}
.carousel img {
    height: 340px;
    object-fit: cover;
    width: calc(100%/3);
    margin-left: 14px;
}

.carousel img:first-child {
    margin-left: 0;
}


@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100%/2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}